.header__lang-link {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.3;
  margin-top: calc(46px - 28px);
  text-decoration: none;
}

@media screen and (max-width: 424px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
