.intro__list {
  max-width: 690px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 1023px) {
  .intro__list {
    max-width: 720px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro__list {
    max-width: none;
    margin: 0 16px;
  }
}
