.lead {
  max-width: 984px;
  background-color: #2A2C2F;
  padding: 0 148px 92px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px)  {
  .lead {
    padding: 0 48px 92px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    padding: 0 0 88px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .lead {
    padding: 0 0 64px;
  }
}

@media screen and (max-width: 424px) {
  .lead {
    padding: 0 0 64px;
  }
}
