.cover__subtitle {
  margin: 0 412px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  opacity: 0.999;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover__subtitle {
    margin: 0 332px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover__subtitle {
    margin: 0 204px 0;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    margin: 0 16px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}
