.header {
  width: calc(100%-(48px*2));
  height: 52px;
  background-color: #2A2C2F;
  padding: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    width: calc(100%-(48px*2));
    padding: 28px 48px 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: calc(100%-(24px*2));
    height: 52px;
    padding: 28px 24px 48px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {
    width: calc(100%-(24px*2));
    height: 52px;
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100%-(16px*2));
    height: 42px;
    padding: 16px 16px 48px;
  }
}

