.lead__title {
  max-width: 720px;
  min-height: 200px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    min-height: 88px;
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
