.intro {
  max-width: 690px;
  min-height: 429px;
  margin: 0 auto 92px 148px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    margin: 0 286px 92px 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    min-height: 429px;
    margin: 0 24px 88px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .intro {
    max-width: 288px;
    min-height: 754px;
    margin: 0 16px 64px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
    min-height: 754px;
    margin: 0 16px 64px;
  }
}
