.cover__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 0;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
  transition: opacity 0.3s;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover__overlay {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover__overlay {
    width: 768px;
    height: 480px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover__overlay {
    width: 320px;
    height: 200px;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    width: 320px;
    height: 200px;
  }
}

