.cover__background {
  width: calc(100vw - (48px*2));
  height: calc((100vw - (48px*2))*0.625);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  background-image: url(../../../images/cover-trains.jpg);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__background {
    width: 100vw;
    height: calc(100vw*0.625);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__background {
    width: 100vw;
    height: calc(100vw*0.625);
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .cover__background {
    width: 100vw;
    height: calc(100vw*0.625);
  }
}

@media screen and (max-width: 424px) {
  .cover__background {
    width: 100vw;
    height: calc(100vw*0.625);
  }
}
