.cover__title {
  margin: 0 0 32px;
  opacity: 0.999;
  z-index: 2;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__title {
      margin: 0 232px 32px;
      padding-top: 195px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover__title {
      margin: 0 104px 32px;
      padding-top: 115px;
    }
  }

  @media screen and (min-width: 425px) and (max-width: 768px) {
    .cover__title {
      margin: 0 16px 16px;
      padding-top: 33px;
      font-size: 32px;
      line-height: 1.09;
    }
  }

  @media screen and (max-width: 425px) {
    .cover__title {
      margin: 0 16px 16px;
      padding-top: 33px;
      font-size: 32px;
      line-height: 1.09;
    }
  }
