.place__website {
  align-self: end;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .place__website {
    margin: 0 16px;
  }
}

@media screen and (max-width: 424px) {
  .place__website {
    margin: 0 16px;
  }
}
